body {
    background: #303841;
    font-family: 'Calibri';
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-y: hidden;
}

.mainDiv{
    background: #303841;
    margin: 0;
}

table {
    /* border: 1px solid white; */
    color: #EEEEEE;

}

.tableDiv {
    height: 400px;
    overflow-y: scroll;
}

tr {
    border: 1px solid white;
    margin: 0;
}

tr:hover {
    background: #647589;
}

td {
    padding: 5px 35px;
    border-bottom: 1px solid white;
}

th {
    color: #303841;
    background: #EEEEEE;
}

.mainDiv {
    margin-top: 30px;
    display: flex;
    height: 100%;

}

.mainOneDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainOneDiv * {
    margin: 5px;
}

.infoCourse {
    text-align: center;
}

.mainOneDiv, .mainTwoDiv {
    width: 50%;
}

.curList {
    background: none;
    width: 200px;
    border-radius: 50px;
    padding: 5px 20px;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    box-shadow: 0 0 3px white;
}

option {
    width: 200px;
    border-radius: 100px;
}

.curList:hover, button:hover, .calendar:hover {
    background: #EEEEEE;
    color: #303841;
}

button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 100px;
    background: none;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
}

.calendar {
    width: 200px;
    padding: 5px 10px;
    border-radius: 100px;
    background: none;
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #303841;

}

::-webkit-scrollbar-thumb {
    background-color: #52616B;
}


/* Diagramm! */

.mainTwoDiv {
    margin-top: 20px;
}

.mainTwoDiv rect {
    opacity: 30%;
}
/* Header */

.header img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #303841;
    box-shadow: 0 0 20px black;
    padding: 0 9%;
}

.nameWebSite {
    font-size: 40px;
    margin: 0 50px;
}

.threeHeader {
    display: flex;
}

.threeHeader div {
    display: flex;
    align-items: center;

}


.header p {
    font-size: 20xp;
    margin: 5px 0;
    color: #EEEEEE;
}

.spinner{
    padding-top: 30%;
    height: 70px;
    width: 70px;
    background: #303841;
    display: none;
}

.spinner2{
    padding-top: 30%;
    height: 70px;
    width: 70px;
    background: #303841;
    display: none;
}






